* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    width: 100%;
}

.logo img {
    width: 10%;
    border-radius: 100px;
}

.icone {
    display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
