@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,500&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Chivo Mono', monospace;
}

.header {
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo img {
    width: 20%;
    border-radius: 100px;
    padding: 5px;
}

.icone {
    display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.menu-itens ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.menu-itens ul li {
    display: inline-block;
    list-style: none;
    
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
}

.menu-itens ul li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    border-bottom: 5px transparent;
}

.menu-itens ul li a:hover{
    color: yellow;
    border-bottom: 5px yellow solid;
}

.fachada-e-ambiente {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fachada img {
    margin-top: 50px;
    width: 70%;
}

.ambiente {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-right: 100px;
}

.ambiente h1 {
    text-align: center;
    border-bottom: 5px solid transparent;
}

.ambiente h1:hover {
    border-bottom: 5px solid yellow;
}

.ambiente p {
    width: 80%;
    text-align: justify;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.especialidade {
    width: 100%;
    background-color: brown;
}

.especialidade h2 , .esperando h2{
    text-align: center;
    margin-top: 50px;
    border-bottom: 5px solid transparent;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

.especialidade h2:hover, .esperando h2:hover, .contato h3:hover , .siga h3:hover{
    border-bottom: 5px solid yellow;
}

.especialidade-container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    
}

.flip-container {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    perspective: 100%;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
   
}

#switch:checked ~ .flip-container .flipper {
    transform: rotateY(180deg);
  }
  

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front img, .back img, .fachada img {
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.back {
    transform: rotateY(180deg);
}

#switch {
    display: none;
}

.esperando h3 {
    text-align: center;
    padding: 10px;
    color: brown;
    font-size: 25px;
}
.swiper {
    width: 600px;
    height: 600px;
}

.mapa-tabela{
    width: 100%;
    height: 70vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.mapa iframe {
    margin-left: auto;
    margin-right: auto;
}

.mapa span{
    margin-top: 5px;
    text-align: center;
    border-bottom: 5px solid transparent;
}

.mapa span:hover{
    margin-top: 5px;
    text-align: center;
    border-bottom: 5px solid yellow;
}

.tabela table{
    width: 400px;
    height: 300px;
    background-color: white;
    text-align: center;
    margin: 20px;
}

.tabela table thead tr{
    background-color: gray;
    margin: 0;
}

td , th {
    border: 2px solid black;
    padding: 5px;
}

.contato{
    padding: 10px;
}

.contato h3 , .siga h3 {
    text-align: center;
    padding: 5px;
    border-bottom: 5px solid transparent;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.contato p , .siga p {
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icons img:hover {
    background-color: yellow;
}

.siga {
    background-color: rgb(129, 92, 22);
    padding: 10px;
}

.direito{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.direito span{
    border-bottom: 5px solid transparent;
    font-size: 18px;
}

.direito span:hover{
    border-bottom: 5px solid yellow;
}
















